<% include partials/header.ejs %>
<h1>
  Welcome to the Solar System Site!
</h1>
<pre>
  Our Solar System has eight planets which orbit the sun. In order of distance from the sun they are; Mercury, 
  Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune. However only 4 are dicussed on this website.
  Click on a planet to know more about it
</pre>
<br>
<img src="/img/solar-system-439046__480.jpg" alt="The Solar System"> <br>
<% include partials/navigation.ejs %>  
<% include partials/footer.ejs %>