<% include partials/header.ejs %>
<h1>
  Welcome to Mars
</h1>
<pre>
Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury.
In English, Mars carries a name of the Roman god of war, and is often referred to as the "Red Planet", 
because the iron oxide prevalent on its surface gives it a reddish appearance that is distinctive among 
the astronomical bodies visible to the naked eye.
</pre>
<br>
<img src="/img/mars.jpg" alt="The Solar System"> <br>
<% include partials/navigation.ejs %>  
<% include partials/footer.ejs %>  

