<% include partials/header.ejs %>
<h1>
  Welcome to Mercury
</h1>
<pre>
  According to Wikipedia, "Mercury is the smallest and innermost planet in the Solar System. 
  Its orbital period around the Sun of 87.97 days is the shortest of all the planets in the Solar System. 
  It is named after the Roman deity Mercury, the messenger of the gods. 
  Like Venus, Mercury orbits the Sun within Earth's orbit as an inferior planet, and never exceeds 28° away from the Sun when viewed from Earth.
  This proximity to the Sun means the planet can only be seen near the western or eastern horizon during the early evening or early morning."
</pre>
<br>
<img src="/img/mercury-11591__480.png" alt="The Solar System"> <br>
<% include partials/navigation.ejs %>  
<% include partials/footer.ejs %>